# Add your real Pinata credentials here. This file is ignored by git.
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJhOGIyM2U0MS1kZTg3LTRhYWYtOTVmNC1mNDBmZWQ2NjJlNzQiLCJlbWFpbCI6Im5hbWFuYmFuc2FsMTAyQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiI1OTYxNmFkNTI0MjcwM2JkODI0ZSIsInNjb3BlZEtleVNlY3JldCI6ImViMjVlNTY0NDU3NGMwZGUxMWQ5NmFhNGE0NmUxMTE4YWFmNDIxZjExNTM2ZGZiN2ViZTI2ZjY3MTY0MTRmMTQiLCJleHAiOjE4MjA2NzM5OTh9.22oZuezkspx1HEkwkoDgSr7fmdGebUeEqt0iG7u2GiQ
PINATA_GATEWAY=jade-added-egret-280.mypinata.cloud
# eb25e5644574c0de11d96aa4a46e1118aaf421f11536dfb7ebe26f6716414f14
